

 
    <form class="form-signin" action="/loggin" method="POST">
      <div class="text-center mb-4">
        
        <h1 class="h3 mb-3 font-weight-normal">loggin</h1>
        <%- include("./includes/successmassage.ejs") %> 
       
      </div>

      <div class="form-label-group">
        <input type="email"
        name="email"
         id="inputEmail"
          class="form-control"
           placeholder="Email address"
            required
             autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="remember" value="remember-me"> Remember me
        </label>
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdutBIbAAAAANK7D2hnvaa1k_v29Othu8A6QsX7"></div>
        
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
  